<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% if title %}
        <title>{{ title }} - microCRM</title>
    {% else %}
        <title>Welcome to the microCRM</title>
    {% endif %}

</head>
<body>

<header>
    {% if current_user.is_authenticated %}
    <span>Hello {{ current_user.firstname }} {{ current_user.lastname }}, you
        are
        logged
        in!</span>
    {% endif %}
    <nav id="mainnavigation">
        <ul>
            <li>
                <a href="{{ url_for('index') }}">Dashboard</a>
            </li>
            {% if current_user.is_anonymous %}
            <li>
                <a href="{{ url_for('login') }}">Login</a>
            </li>
            {% else %}
            <li>
                <a href="{{ url_for('logout') }}">Logout</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li style="color:red; font-weight:bold;">
            {{ message }}
        </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <hr>
</header>

<section id="content">
    {% block content %}{% endblock %}
</section>

<footer id="pagefooter">
    <hr>
    &copy; {{ the_year }} <strong><small>micro</small>CRM</strong> by Alexander
    Nikolas Reuber
</footer>

</body>
</html>